version: 2.1

# commands:
#   test:
#     parameters:
#       to:
#         type: string
#         default: "${CIRCLE_USERNAME}"
#     steps:
#       - run: echo "Hello << parameters.to >>"

executors:
  default:
    parameters:
      tag:
        type: string
        default: latest
    docker:
      - image: cimg/node:<< parameters.tag >>
    # machine:
    #   image: ubuntu-1604:201903-01

jobs:
  test:
    executor:
      name: default
      tag: "16.5.0"
    # resource_class: 2xlarge+    
    steps:
      - run: echo "from test step" > artifact.txt
      - persist_to_workspace:
          root: ./
          paths:
            - artifact.txt
      - store_artifacts:
          path: ./artifact.txt
  build:
    docker:
      - image: cimg/node:16.5.0
        #auth:
        #  username: mydockerhub-user
        #  password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:  
      - attach_workspace:
          at: /tmp/workspace
      - run: cat /tmp/workspace/artifact.txt
  
# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - test:
          name: test
      - build:
          name: build
          requires: 
            - test