version: 2.1

# Define the jobs we want to run for this project
jobs:
  test:
    docker:
      - image: cimg/node:16.5.0
        #auth:
        #  username: mydockerhub-user
        #  password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - run: echo "from test step" > artifact.txt
  build:
    docker:
      - image: cimg/node:16.5.0
        #auth:
        #  username: mydockerhub-user
        #  password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - run: cat artifact.txt
  
# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - test
      - build