version: 2.1

# Define the jobs we want to run for this project
jobs:
  test:
    docker:
      - image: cimg/node:16.5.0
        #auth:
        #  username: mydockerhub-user
        #  password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - run: echo "from test step" > artifact.txt
      - store_artifacts:
          path: ./artifact.txt
  build:
    docker:
      - image: cimg/node:16.5.0
        #auth:
        #  username: mydockerhub-user
        #  password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:  
      - run: |
        export CIRCLE_TOKEN=':your_token'
        curl -H "Circle-Token: $CIRCLE_TOKEN" https://circleci.com/api/v1.1/project/:vcs-type/:username/:project/:build_num/artifacts \
        | grep -o 'https://[^"]*' \
        | wget --verbose --header "Circle-Token: $CIRCLE_TOKEN" --input-file -
      - run: cat artifact.txt
      - store_artifacts:
          path: ./artifact.txt
  
# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - test:
          name: test
      - build:
          name: build
          requires: 
            - test
          
